@keyframes opac {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes animload {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-630deg);
    transform-origin: center center 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blur {
  0% {
    filter: blur(25px);
  }
  25% {
    filter: blur(15px);
  }
  40% {
    filter: blur(10px);
  }
  50% {
    filter: blur(8px);
  }
  75% {
    filter: blur(6px);
  }
  85% {
    filter: blur(4px);
  }
  90% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes check {
  0% {
    transform: translate(58px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: normal;
}

h2 {
  width: 100%;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto;
  min-width: 335px;
  max-width: 1600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
body main {
  flex-grow: 1;
}

.loading {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  bottom: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 32px;
  font-weight: normal;
  perspective: 700px;
  animation: opac 2000ms 3s forwards;
}
.loading div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading .cube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: animload 1500ms forwards;
}
.loading .cube--1 {
  animation-delay: 187.5ms;
}
.loading .cube--2 {
  animation-delay: 375ms;
}
.loading .cube--3 {
  animation-delay: 562.5ms;
}
.loading .cube--4 {
  animation-delay: 750ms;
}
.loading .cube--5 {
  animation-delay: 937.5ms;
}
.loading .cube--6 {
  animation-delay: 1125ms;
}
.loading .cube--7 {
  animation-delay: 1312.5ms;
}
.loading .cube--8 {
  animation-delay: 1500ms;
}
.loading .cube .c1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateX(0deg) translateZ(25px);
  background: inherit;
}
.loading .cube .c2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg) translateZ(25px);
  background: inherit;
}
.loading .cube .c3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateX(180deg) translateZ(25px);
  background: inherit;
}
.loading .cube .c4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateX(270deg) translateZ(25px);
  background: inherit;
}
.loading .cube--1 {
  background-color: #9356DC;
}
.loading .cube--2 {
  background-color: #a174d8;
}
.loading .cube--3 {
  background-color: #FF79DA;
}
.loading .cube--4 {
  background-color: #f8afe3;
}
.loading .cube--5 {
  background-color: #99E2D0;
}
.loading .cube--6 {
  background-color: #a9e0d3;
  z-index: 2;
}
.loading .cube--7 {
  background-color: #b7dfd5;
  z-index: 1;
}
.loading .cube--8 {
  background-color: #c6ddd7;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.5px;
  min-width: 185px;
  height: 50px;
  color: white;
  font-size: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 0 20px;
  border: none;
  margin-top: 17px;
  box-shadow: -2px 0 7px #cecece, 2px 6px 7px #cecece;
  transition: all 500ms;
}
.btn:hover {
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 80%);
  box-shadow: -3px 3px 5px #8b8b8b, 3px 3px 5px #8b8b8b;
}

#bloc-page {
  filter: blur(25px);
  animation: blur 2500ms forwards;
}

header {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px #b8b8b8;
  z-index: 1;
}
header .header__logo {
  width: 43%;
  margin-top: 10px;
}

.intro {
  width: 100%;
  max-height: 777px;
}
.intro .location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  color: #3b3b3b;
}
.intro .location i {
  padding: 0 20px 0 70px;
}
.intro .location__search {
  border: none;
  background-color: inherit;
  font-weight: bold;
}
.intro .location__search:focus {
  outline: none;
}
.intro .discovery {
  height: 287px;
  background-color: whitesmoke;
  text-align: center;
}
.intro .discovery__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 70%;
  margin: auto;
  padding-top: 35px;
}
.intro .discovery__txt {
  width: 90%;
  margin: 13px auto;
  font-size: 18px;
  color: gray;
}
.intro .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 441px;
  padding: 30px 20px 45px 20px;
}
@media screen and (min-width: 651px) {
  .intro .steps {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.intro .steps__title {
  align-self: start;
  margin-bottom: 25px;
}
.intro .steps__item {
  width: 335px;
  height: 72px;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: gray;
  box-shadow: -2px 0 6px #ececec, 2px 7px 6px #ececec;
}
.intro .steps__item:hover {
  background-color: #f0e9fa;
  color: #9356DC;
}
.intro .steps__item span {
  color: white;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 100%;
  margin-left: -10px;
}
.intro .steps__item i {
  margin: 0 20px;
  color: inherit;
  font-size: 20px;
}
.intro .steps__item p {
  font-weight: 500;
  color: initial;
}

.restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px 45px 20px;
  background-color: whitesmoke;
  box-sizing: border-box;
}
@media screen and (min-width: 651px) {
  .restaurant {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 990px) {
  .restaurant {
    max-width: 1100px;
    margin: auto;
    border-radius: 15px 15px 0 0;
  }
}

.preview {
  width: 335px;
  height: 251px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 651px) {
  .preview {
    width: 335px;
    margin: 20px;
  }
}
.preview a {
  display: block;
  overflow: hidden;
  border-radius: 15px;
  height: 265px;
}
.preview img {
  width: 103%;
  min-height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: -5px -55px;
}
.preview .img2 {
  object-position: -5px -157px;
  max-height: 175px;
}
.preview .img4 {
  object-position: -5px -60px;
}
.preview__caption {
  width: 100%;
  height: 77px;
  transform: translate(0, -58px);
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-sizing: border-box;
  line-height: 23px;
  padding: 15px;
  box-shadow: -2px 0 6px #ececec, 2px 7px 6px #ececec;
}
.preview__caption h3 {
  margin: 0;
}
.preview__caption p {
  margin: 0;
  font-weight: 300;
}
.preview__caption .far {
  font-size: 24px;
  position: relative;
  top: -40px;
  right: -270px;
}
.preview__caption .fas {
  position: relative;
  top: -41px;
  right: -243px;
  color: white;
  font-size: 22px;
  transition: color 1000ms;
}
.preview__caption .fas:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
}
.preview__caption .new {
  background-color: #99E2D0;
  font-size: 14px;
  color: #357c6a;
  font-weight: 500;
  padding: 3px 12px;
  border-radius: 2px;
  transform: translate(179px, -223px);
  position: absolute;
}
.preview .cap2 {
  transform: translate(0, -3px);
  box-shadow: -2px 0 6px #ececec, 2px 7px 6px #ececec;
}
.preview .cap4 {
  transform: translate(0, -65px);
}

.footer {
  width: 100%;
  max-width: 1600px;
  height: 197px;
  background-color: #3d3d3d;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
}
.footer__title {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  padding-top: 24px;
}
@media screen and (min-width: 651px) {
  .footer__title {
    font-size: 24px;
    text-align: center;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 651px) {
  .footer__list {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.footer__list > li {
  line-height: 26px;
}
.footer__list > li > i {
  font-size: 14px;
  margin-right: 5px;
}
.footer__list > li .ust {
  margin-right: 10px;
}
.footer__list .link {
  font-weight: 500;
}

.header-menu i {
  font-size: 20px;
  position: absolute;
  left: 25px;
  top: 23px;
  color: #464646;
}
@media screen and (min-width: 990px) {
  .header-menu i {
    position: relative;
    left: -250px;
  }
}

@media screen and (min-width: 651px) {
  .mainA {
    background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 651px) {
  .mainB {
    background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 651px) {
  .mainC {
    background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 651px) {
  .mainD {
    background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    background-position: center center;
  }
}

.main2 {
  z-index: 2;
  background-color: whitesmoke;
}
.main2 img {
  display: block;
  margin: auto;
  object-position: -20px 0;
  width: clamp(375px, 110%, 1200px);
  max-height: 400px;
  object-fit: cover;
}
@media screen and (min-width: 651px) {
  .main2 img {
    object-position: 120%;
    width: 80%;
    padding: 0 6px 0 6px;
    background: linear-gradient(#9356DC, #FF79DA);
  }
}
.main2 .btn {
  margin: 20px auto 27px auto;
}
@media screen and (min-width: 990px) {
  .main2 .btn {
    flex-basis: 40%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
  transform: translate(0, -55px);
}
@media screen and (min-width: 651px) {
  .menu {
    width: 90%;
    margin: auto;
    border-radius: 40px;
  }
}
@media screen and (min-width: 990px) {
  .menu {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.menu__title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 0 17px;
  box-sizing: border-box;
}
.menu__title .far {
  font-size: 24px;
}
.menu__title .fas {
  position: relative;
  right: 27px;
  top: -1px;
  color: white;
  font-size: 22px;
  transition: color 1000ms;
}
.menu__title .fas:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (min-width: 651px) {
  .menu .list--1 {
    align-self: flex-start;
    margin-left: 7%;
  }
}
@media screen and (min-width: 651px) {
  .menu .list--3 {
    align-self: flex-end;
    margin-right: 7%;
  }
}

@media screen and (min-width: 990px) {
  .list {
    width: clamp(200px, 23%, 300px);
    box-sizing: border-box;
  }
}
.list > li {
  display: flex;
  flex-flow: row nowrap;
  width: 350px;
  margin-bottom: 14px;
}
@media screen and (min-width: 651px) {
  .list > li {
    width: 450px;
  }
}
@media screen and (min-width: 990px) {
  .list > li {
    width: 100%;
    margin-bottom: 30px;
  }
}
.list > li h2 {
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 5px 0;
}
.list > li .bordersmall {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.list__item {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  height: 68px;
  cursor: pointer;
  opacity: 0;
  box-shadow: -2px 0 6px #ececec, 2px 7px 6px #ececec;
  animation: fadein 1500ms forwards;
}
.list__item--1 {
  animation-delay: 166.6666666667ms;
}
.list__item--2 {
  animation-delay: 333.3333333333ms;
}
.list__item--3 {
  animation-delay: 500ms;
}
.list__item--4 {
  animation-delay: 666.6666666667ms;
}
.list__item--5 {
  animation-delay: 833.3333333333ms;
}
.list__item--6 {
  animation-delay: 1000ms;
}
.list__item--7 {
  animation-delay: 1166.6666666667ms;
}
.list__item--8 {
  animation-delay: 1333.3333333333ms;
}
.list__item--9 {
  animation-delay: 1500ms;
}
@media screen and (min-width: 990px) {
  .list__item {
    min-height: 130px;
  }
}
.list__item .txt {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  align-items: center;
  overflow: hidden;
  padding: 12px 0 15px 12px;
}
@media screen and (min-width: 990px) {
  .list__item .txt {
    min-width: 100px;
  }
}
.list__item .txt:hover + .anim {
  animation: check 500ms forwards ease-in;
}
.list__item .txt:hover + .anim > .check > i {
  animation: rot 500ms forwards ease-in;
}
.list__item .txt h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 100%;
}
@media screen and (min-width: 990px) {
  .list__item .txt h3 {
    text-overflow: initial;
    white-space: pre-wrap;
  }
}
.list__item .txt p {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px 0 0 0;
}
@media screen and (min-width: 990px) {
  .list__item .txt p {
    text-overflow: initial;
    white-space: pre-wrap;
  }
}
.list__item .anim {
  display: flex;
  flex-flow: row nowrap;
  transform: translate(58px);
}
.list__item .anim:hover {
  animation: check 500ms forwards ease-in;
}
.list__item .anim:hover > .check > i {
  animation: rot 500ms forwards ease-in;
}
.list__item .anim span {
  margin-right: 15px;
  margin-top: 38px;
  font-weight: 500;
  font-size: 15px;
}
@media screen and (min-width: 990px) {
  .list__item .anim span {
    margin-top: 85px;
  }
}
.list__item .anim .check {
  display: flex;
  min-width: 58px;
  height: 100%;
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
}

/*# sourceMappingURL=style.css.map */
